<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="list">
	<select id="member" parameterType="pagevo" resultType="memvo">
		select * from (
			select rownum r_num, a.* from (
				select * from member_semi order by 1 desc
			) a
		) where r_num between #{startNum } and #{endNum }
	</select>
	<select id="countMember" resultType="int">
		select count(*) from member_semi
	</select>
</mapper>