@charset "EUC-KR";
button {
 color: #090909;
 padding: 0.1em 1.2em;
 font-size: 18px;
 border-radius: 0.5em;
 background: #F6F5F3;
 border: 1px solid #F6F5F3;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

button:active {
 color: #666;
 box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}